# Importation of the libraries and datasets

In [91]:
# Libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
sns.set(color_codes=True)

In [92]:
# FAO Dataframes

# FAO animal slaughter data
slaughter = pd.read_csv("C:/Users/shaun/OneDrive/MSc Data Analytics/CA2 Semester 1/Data/FAOSTAT_slaughtered.csv", 
                        low_memory=False)

# FAO meat production data
meat = pd.read_csv("C:/Users/shaun/OneDrive/MSc Data Analytics/CA2 Semester 1/Data/FAOSTAT_production_quantity.csv", 
                   low_memory=False)

# FAO livestock Stocking data
stock = pd.read_csv("C:/Users/shaun/OneDrive/MSc Data Analytics/CA2 Semester 1/Data/FAOSTAT_stocks.csv", 
                    low_memory=False)

# FAO live stock import / export data
imp_exp = pd.read_csv("C:/Users/shaun/OneDrive/MSc Data Analytics/CA2 Semester 1/Data/FAOSTAT_import_export.csv", 
                      low_memory=False)

In [93]:
# Functions

def calc_percent_missing(no_observations, maxobservations):
    '''This takes the number of missing and maximum observations as inputs. It
    then calculates the no of missing observations as a percentage of the total observations'''
    percent_miss = round((no_observations / maxobservations) * (100 / 1), 2)
    print(f"The percentage of missing values is:\n{percent_miss}")

# Exploratory data analysis

## Animal slaughter data

Here we view the head and shape of the data

In [94]:
slaughter.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,255,Belgium,5320,Producing Animals/Slaughtered,867,"Meat, cattle",2000,2000,Head,832926.0,NaN,Official data
1,QCL,Crops and livestock products,255,Belgium,5320,Producing Animals/Slaughtered,867,"Meat, cattle",2001,2001,Head,873268.0,NaN,Official data
2,QCL,Crops and livestock products,255,Belgium,5320,Producing Animals/Slaughtered,867,"Meat, cattle",2002,2002,Head,932473.0,NaN,Official data
3,QCL,Crops and livestock products,255,Belgium,5320,Producing Animals/Slaughtered,867,"Meat, cattle",2003,2003,Head,853641.0,NaN,Official data
4,QCL,Crops and livestock products,255,Belgium,5320,Producing Animals/Slaughtered,867,"Meat, cattle",2004,2004,Head,842585.0,NaN,Official data

In [95]:
slaughter.shape

(3746, 14)

In [96]:
slaughter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3746 entries, 0 to 3745
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       3746 non-null   object
 1   Domain            3746 non-null   object
 2   Area Code (FAO)   3746 non-null   int64
 3   Area              3746 non-null   object
 4   Element Code      3746 non-null   int64
 5   Element           3746 non-null   object
 6   Item Code (FAO)   3746 non-null   int64
 7   Item              3746 non-null   object
 8   Year Code         3746 non-null   int64
 9   Year              3746 non-null   int64
 10  Unit              3746 non-null   object
 11  Value             3654 non-null   float64
 12  Flag              1401 non-null   object
 13  Flag Description  3746 non-null   object
dtypes: float64(1), int64(5), object(8)
memory usage: 409.8+ KB

In [97]:
slaughter.describe()

,Area Code (FAO),Element Code,Item Code (FAO),Year Code,Year,Value
count,3746.000000,3746.000000,3746.000000,3746.000000,3746.000000,3.654000e+03
mean,153.586759,5320.452483,1036.179391,1997.905499,1997.905499,1.232273e+07
std,98.639385,0.497803,73.686268,13.784635,13.784635,5.686957e+07
min,54.000000,5320.000000,867.000000,1973.000000,1973.000000,0.000000e+00
25%,79.000000,5320.000000,1017.000000,1986.000000,1986.000000,1.230950e+04
50%,106.000000,5320.000000,1058.000000,1999.000000,1999.000000,2.321095e+05
75%,231.000000,5321.000000,1080.000000,2010.000000,2010.000000,2.915900e+06
max,351.000000,5321.000000,1163.000000,2020.000000,2020.000000,7.449179e+08

The data is in its current layout is not suitable for statistical analysis as each country is a row.
I need to melt the data so that the values for each country are in a column item type.

In [98]:
slaughter.Item.unique()

array(['Meat, cattle', 'Meat, chicken', 'Meat, duck', 'Meat, goat',
       'Meat, horse', 'Meat, pig', 'Meat, sheep', 'Meat, turkey',
       'Meat, goose and guinea fowl', 'Meat, rabbit', 'Meat, game'],
      dtype=object)

There are 11 animal categories in the slaughter data. I can remove the repetition from these item categories when I clean the data

In [99]:
slaughter.Area.unique()

array(['Belgium', 'China', 'Denmark', 'France', 'Germany', 'Ireland',
       'Italy', 'Luxembourg', 'Netherlands', 'United States of America'],
      dtype=object)

The dataset contains 8 EU countries Belgium, Denmark, France, Germany, Luxembourg, Ireland, Italy and the Netherlands. All of these countries have been member states since at least Jan 1st 1973.

Belgium, France, Germany, Luxembourg, Italy and the Netherlands founded the EU in 1957 with Ireland and Denmark Joining on the 1st January 1973.

Therefore, to ensure data comparability between these countries and the US and China, I limited the datasets time frame from 1st January 1973 to 31st December 2020 (most recent data available). This ensures that all European countries were member states of the EU at the time of analysis. 

We can confirm this as follows

In [100]:
slaughter.Year.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 1973,
       1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984,
       1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999], dtype=int64)

In [101]:
print(f"The earliest year in the dataset is {slaughter.Year.min()} and the maximum year is {slaughter.Year.max()}")

The earliest year in the dataset is 1973 and the maximum year is 2020

Next we can observe what units the slaughter data has been recorded in

In [102]:
slaughter.Unit.unique()

array(['Head', '1000 Head'], dtype=object)

Slaughter units have been reported as per "head" and per "thousand heads" of animal.

In [103]:
slaughter.Element.unique()

array(['Producing Animals/Slaughtered'], dtype=object)

All livestock in this dataset is at slaughter.

Checking for null values

In [104]:
slaughter.isnull().sum()

Domain Code            0
Domain                 0
Area Code (FAO)        0
Area                   0
Element Code           0
Element                0
Item Code (FAO)        0
Item                   0
Year Code              0
Year                   0
Unit                   0
Value                 92
Flag                2345
Flag Description       0
dtype: int64

In [105]:
calc_percent_missing(slaughter.isnull().sum(), len(slaughter))

The percentage of missing values is:
Domain Code          0.00
Domain               0.00
Area Code (FAO)      0.00
Area                 0.00
Element Code         0.00
Element              0.00
Item Code (FAO)      0.00
Item                 0.00
Year Code            0.00
Year                 0.00
Unit                 0.00
Value                2.46
Flag                62.60
Flag Description     0.00
dtype: float64

There are missing values in the "Value" and "Flag" columns.  The flag column is not important to our data analysis
so I can remove this during data preparation. However, the value column requires further investigation. We can test if these values are missing at random or not at random by filtering the values that are NaN or 0

In [106]:
# Creating a data frame of missing slaughtervalues
slaughter_miss = slaughter.loc[(slaughter['Value'] == slaughter.Value.isnull())]

In [107]:
slaughter_miss.head(50)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
789,QCL,Crops and livestock products,54,Denmark,5320,Producing Animals/Slaughtered,1017,"Meat, goat",2018,2018,Head,0.0,NaN,Official data
790,QCL,Crops and livestock products,54,Denmark,5320,Producing Animals/Slaughtered,1017,"Meat, goat",2019,2019,Head,0.0,NaN,Official data
791,QCL,Crops and livestock products,54,Denmark,5320,Producing Animals/Slaughtered,1017,"Meat, goat",2020,2020,Head,0.0,NaN,Official data
2148,QCL,Crops and livestock products,104,Ireland,5320,Producing Animals/Slaughtered,1017,"Meat, goat",2018,2018,Head,0.0,NaN,Official data
2149,QCL,Crops and livestock products,104,Ireland,5320,Producing Animals/Slaughtered,1017,"Meat, goat",2019,2019,Head,0.0,NaN,Official data
2150,QCL,Crops and livestock products,104,Ireland,5320,Producing Animals/Slaughtered,1017,"Meat, goat",2020,2020,Head,0.0,NaN,Official data
2844,QCL,Crops and livestock products,256,Luxembourg,5321,Producing Animals/Slaughtered,1058,"Meat, chicken",2018,2018,1000 Head,0.0,NaN,Official data
2845,QCL,Crops and livestock products,256,Luxembourg,5321,Producing Animals/Slaughtered,1058,"Meat, chicken",2019,2019,1000 Head,0.0,NaN,Official data
2846,QCL,Crops and livestock products,256,Luxembourg,5321,Producing Animals/Slaughtered,1058,"Meat, chicken",2020,2020,1000 Head,0.0,NaN,Official data
2847,QCL,Crops and livestock products,256,Luxembourg,5321,Producing Animals/Slaughtered,1069,"Meat, duck",2018,2018,1000 Head,0.0,NaN,Official data
2848,QCL,Crops and livestock products,256,Luxembourg,5321,Producing Animals/Slaughtered,1069,"Meat, duck",2019,2019,1000 Head,0.0,NaN,Official data
2849,QCL,Crops and livestock products,256,Luxembourg,5321,Producing Animals/Slaughtered,1069,"Meat, duck",2020,2020,1000 Head,0.0,NaN,Official data
2869,QCL,Crops and livestock products,256,Luxembourg,5320,Producing Animals/Slaughtered,1017,"Meat, goat",2000,2000,Head,0.0,NaN,Official data
2870,QCL,Crops and livestock products,256,Luxembourg,5320,Producing Animals/Slaughtered,1017,"Meat, goat",2001,2001,Head,0.0,NaN,Official data
2891,QCL,Crops and livestock products,256,Luxembourg,5320,Producing Animals/Slaughtered,1097,"Meat, horse",2001,2001,Head,0.0,NaN,Official data
2971,QCL,Crops and livestock products,256,Luxembourg,5321,Producing Animals/Slaughtered,1080,"Meat, turkey",2018,2018,1000 Head,0.0,NaN,Official data
2972,QCL,Crops and livestock products,256,Luxembourg,5321,Producing Animals/Slaughtered,1080,"Meat, turkey",2019,2019,1000 Head,0.0,NaN,Official data
2973,QCL,Crops and livestock products,256,Luxembourg,5321,Producing Animals/Slaughtered,1080,"Meat, turkey",2020,2020,1000 Head,0.0,NaN,Official data
3070,QCL,Crops and livestock products,150,Netherlands,5321,Producing Animals/Slaughtered,1069,"Meat, duck",1973,1973,1000 Head,0.0,Fc,Calculated data
3071,QCL,Crops and livestock products,150,Netherlands,5321,Producing Animals/Slaughtered,1069,"Meat, duck",1974,1974,1000 Head,0.0,Fc,Calculated data
3072,QCL,Crops and livestock products,150,Netherlands,5321,Producing Animals/Slaughtered,1069,"Meat, duck",1975,1975,1000 Head,0.0,Fc,Calculated data
3073,QCL,Crops and livestock products,150,Netherlands,5321,Producing Animals/Slaughtered,1069,"Meat, duck",1976,1976,1000 Head,0.0,Fc,Calculated data
3332,QCL,Crops and livestock products,150,Netherlands,5321,Producing Animals/Slaughtered,1080,"Meat, turkey",1973,1973,1000 Head,0.0,Fc,Calculated data
3333,QCL,Crops and livestock products,150,Netherlands,5321,Producing Animals/Slaughtered,1080,"Meat, turkey",1974,1974,1000 Head,0.0,Fc,Calculated data
3334,QCL,Crops and livestock products,150,Netherlands,5321,Producing Animals/Slaughtered,1080,"Meat, turkey",1975,1975,1000 Head,0.0,Fc,Calculated data
3335,QCL,Crops and livestock products,150,Netherlands,5321,Producing Animals/Slaughtered,1080,"Meat, turkey",1976,1976,1000 Head,0.0,Fc,Calculated data
3377,QCL,Crops and livestock products,150,Netherlands,5321,Producing Animals/Slaughtered,1080,"Meat, turkey",2018,2018,1000 Head,0.0,NaN,Official data
3378,QCL,Crops and livestock products,150,Netherlands,5321,Producing Animals/Slaughtered,1080,"Meat, turkey",2019,2019,1000 Head,0.0,NaN,Official data
3379,QCL,Crops and livestock products,150,Netherlands,5321,Producing Animals/Slaughtered,1080,"Meat, turkey",2020,2020,1000 Head,0.0,NaN,Official data

In [108]:
# Investigating if the missing data is at random or not at random by checking if it's specific animal categories or not
slaughter_miss.Item.unique()

array(['Meat, goat', 'Meat, chicken', 'Meat, duck', 'Meat, horse',
       'Meat, turkey'], dtype=object)

In [109]:
slaughter_miss.Value.unique()

array([0.])

In [110]:
# Investigating if the missing data is at random or not at random by checking if it's specific country's or not
slaughter_miss.Area.unique()

array(['Denmark', 'Ireland', 'Luxembourg', 'Netherlands'], dtype=object)

In [111]:
slaughter_miss.Year.unique()

array([2018, 2019, 2020, 2000, 2001, 1973, 1974, 1975, 1976], dtype=int64)

This shows that the missing data is NOT at random, certain countries did not submit data for certain animal categories on certain years. I will deal with this during data preparation.

## Meat production data

In [112]:
meat.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,255,Belgium,5510,Production,867,"Meat, cattle",2000,2000,tonnes,275360.0,NaN,Official data
1,QCL,Crops and livestock products,255,Belgium,5510,Production,867,"Meat, cattle",2001,2001,tonnes,285250.0,NaN,Official data
2,QCL,Crops and livestock products,255,Belgium,5510,Production,867,"Meat, cattle",2002,2002,tonnes,305388.0,NaN,Official data
3,QCL,Crops and livestock products,255,Belgium,5510,Production,867,"Meat, cattle",2003,2003,tonnes,275170.0,NaN,Official data
4,QCL,Crops and livestock products,255,Belgium,5510,Production,867,"Meat, cattle",2004,2004,tonnes,280931.0,NaN,Official data

In [113]:
meat.shape

(3940, 14)

In [114]:
meat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3940 entries, 0 to 3939
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       3940 non-null   object
 1   Domain            3940 non-null   object
 2   Area Code (FAO)   3940 non-null   int64
 3   Area              3940 non-null   object
 4   Element Code      3940 non-null   int64
 5   Element           3940 non-null   object
 6   Item Code (FAO)   3940 non-null   int64
 7   Item              3940 non-null   object
 8   Year Code         3940 non-null   int64
 9   Year              3940 non-null   int64
 10  Unit              3940 non-null   object
 11  Value             3862 non-null   float64
 12  Flag              1298 non-null   object
 13  Flag Description  3940 non-null   object
dtypes: float64(1), int64(5), object(8)
memory usage: 431.1+ KB

In [115]:
meat.describe()

,Area Code (FAO),Element Code,Item Code (FAO),Year Code,Year,Value
count,3940.000000,3940.0,3940.000000,3940.000000,3940.000000,3.862000e+03
mean,154.790102,5510.0,1042.574873,1997.820051,1997.820051,1.300366e+06
std,99.951755,0.0,77.053159,13.754285,13.754285,4.658044e+06
min,54.000000,5510.0,867.000000,1973.000000,1973.000000,0.000000e+00
25%,79.000000,5510.0,1017.000000,1986.000000,1986.000000,4.966500e+03
50%,106.000000,5510.0,1058.000000,1999.000000,1999.000000,6.400000e+04
75%,231.000000,5510.0,1080.000000,2010.000000,2010.000000,6.888240e+05
max,351.000000,5510.0,1163.000000,2020.000000,2020.000000,5.766187e+07

The data is in its current layout is not suitable for statistical analysis as each country is a row.
I need to melt the data so that the values for each country are in a column item type.

In [116]:
meat.Item.unique()

array(['Meat, cattle', 'Meat, chicken', 'Meat, duck', 'Meat, goat',
       'Meat, horse', 'Meat, pig', 'Meat, sheep', 'Meat, turkey',
       'Meat, game', 'Meat, goose and guinea fowl', 'Meat, rabbit'],
      dtype=object)

There are 11 animal categories in the production data. I can remove the repetition from these item categories when I clean the data

In [117]:
meat.Area.unique()

array(['Belgium', 'China', 'Denmark', 'France', 'Germany', 'Ireland',
       'Italy', 'Luxembourg', 'Netherlands', 'United States of America'],
      dtype=object)

As above:

The dataset contains 8 EU countries Belgium, Denmark, France, Germany, Luxembourg, Ireland, Italy and the Netherlands. All of these countries have been member states since at least Jan 1st 1973.

Belgium, France, Germany, Luxembourg, Italy and the Netherlands founded the EU in 1957 with Ireland and Denmark Joining on the 1st January 1973.

Therefore, to ensure data comparability between these countries and the US and China, I limited the datasets time frame from 1st January 1973 to 31st December 2020 (most recent data available). This ensures that all European countries were member states of the EU at the time of analysis. 

We can confirm this as follows

In [118]:
meat.Year.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 1973,
       1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984,
       1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999], dtype=int64)

In [119]:
print(f"The earliest year in the dataset is {meat.Year.min()} and the maximum year is {meat.Year.max()}")

The earliest year in the dataset is 1973 and the maximum year is 2020

Next we can observe what units the meat production data has been recorded in

In [120]:
meat.Unit.unique()

array(['tonnes'], dtype=object)

Production data units have been reported in "tonnes".

In [121]:
meat.Element.unique()

array(['Production'], dtype=object)

All livestock in this dataset is at production.

Checking for null values

In [122]:
meat.isnull().sum()

Domain Code            0
Domain                 0
Area Code (FAO)        0
Area                   0
Element Code           0
Element                0
Item Code (FAO)        0
Item                   0
Year Code              0
Year                   0
Unit                   0
Value                 78
Flag                2642
Flag Description       0
dtype: int64

In [123]:
calc_percent_missing(meat.isnull().sum(), len(meat))

The percentage of missing values is:
Domain Code          0.00
Domain               0.00
Area Code (FAO)      0.00
Area                 0.00
Element Code         0.00
Element              0.00
Item Code (FAO)      0.00
Item                 0.00
Year Code            0.00
Year                 0.00
Unit                 0.00
Value                1.98
Flag                67.06
Flag Description     0.00
dtype: float64

There are missing values in the "Value" and "Flag" columns.  The flag column is not important to our data analysis
so I can remove this during data preparation. However, the value column requires further investigation. We can test if these values are missing at random or not at random by filtering the values that are NaN or 0

In [124]:
# Creating a data frame of missing meat production
meat_miss = meat.loc[(meat['Value'] == meat.Value.isnull())]

In [125]:
meat_miss.head(50)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
883,QCL,Crops and livestock products,54,Denmark,5510,Production,1017,"Meat, goat",2018,2018,tonnes,0.0,NaN,Official data
884,QCL,Crops and livestock products,54,Denmark,5510,Production,1017,"Meat, goat",2019,2019,tonnes,0.0,NaN,Official data
885,QCL,Crops and livestock products,54,Denmark,5510,Production,1017,"Meat, goat",2020,2020,tonnes,0.0,NaN,Official data
1151,QCL,Crops and livestock products,54,Denmark,5510,Production,1080,"Meat, turkey",2018,2018,tonnes,0.0,NaN,Official data
1152,QCL,Crops and livestock products,54,Denmark,5510,Production,1080,"Meat, turkey",2019,2019,tonnes,0.0,NaN,Official data
1153,QCL,Crops and livestock products,54,Denmark,5510,Production,1080,"Meat, turkey",2020,2020,tonnes,0.0,NaN,Official data
1862,QCL,Crops and livestock products,79,Germany,5510,Production,1017,"Meat, goat",2018,2018,tonnes,0.0,NaN,Official data
1863,QCL,Crops and livestock products,79,Germany,5510,Production,1017,"Meat, goat",2019,2019,tonnes,0.0,NaN,Official data
1864,QCL,Crops and livestock products,79,Germany,5510,Production,1017,"Meat, goat",2020,2020,tonnes,0.0,NaN,Official data
2293,QCL,Crops and livestock products,104,Ireland,5510,Production,1017,"Meat, goat",2018,2018,tonnes,0.0,NaN,Official data
2294,QCL,Crops and livestock products,104,Ireland,5510,Production,1017,"Meat, goat",2019,2019,tonnes,0.0,NaN,Official data
2295,QCL,Crops and livestock products,104,Ireland,5510,Production,1017,"Meat, goat",2020,2020,tonnes,0.0,NaN,Official data
2987,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1058,"Meat, chicken",2018,2018,tonnes,0.0,NaN,Official data
2988,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1058,"Meat, chicken",2019,2019,tonnes,0.0,NaN,Official data
2989,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1058,"Meat, chicken",2020,2020,tonnes,0.0,NaN,Official data
2990,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1069,"Meat, duck",2018,2018,tonnes,0.0,NaN,Official data
2991,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1069,"Meat, duck",2019,2019,tonnes,0.0,NaN,Official data
2992,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1069,"Meat, duck",2020,2020,tonnes,0.0,NaN,Official data
3012,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1017,"Meat, goat",2000,2000,tonnes,0.0,NaN,Official data
3013,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1017,"Meat, goat",2001,2001,tonnes,0.0,NaN,Official data
3030,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1017,"Meat, goat",2018,2018,tonnes,0.0,NaN,Official data
3031,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1017,"Meat, goat",2019,2019,tonnes,0.0,NaN,Official data
3032,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1017,"Meat, goat",2020,2020,tonnes,0.0,NaN,Official data
3034,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1097,"Meat, horse",2001,2001,tonnes,0.0,NaN,Official data
3114,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1080,"Meat, turkey",2018,2018,tonnes,0.0,NaN,Official data
3115,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1080,"Meat, turkey",2019,2019,tonnes,0.0,NaN,Official data
3116,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1080,"Meat, turkey",2020,2020,tonnes,0.0,NaN,Official data
3261,QCL,Crops and livestock products,150,Netherlands,5510,Production,1163,"Meat, game",1986,1986,tonnes,0.0,F,FAO estimate
3279,QCL,Crops and livestock products,150,Netherlands,5510,Production,1163,"Meat, game",2005,2005,tonnes,0.0,F,FAO estimate
3523,QCL,Crops and livestock products,150,Netherlands,5510,Production,1080,"Meat, turkey",2018,2018,tonnes,0.0,NaN,Official data
3524,QCL,Crops and livestock products,150,Netherlands,5510,Production,1080,"Meat, turkey",2019,2019,tonnes,0.0,NaN,Official data
3525,QCL,Crops and livestock products,150,Netherlands,5510,Production,1080,"Meat, turkey",2020,2020,tonnes,0.0,NaN,Official data

In [126]:
# Investigating if the missing data is at random or not at random by checking if it's specific animal categories or not
meat_miss.Item.unique()

array(['Meat, goat', 'Meat, turkey', 'Meat, chicken', 'Meat, duck',
       'Meat, horse', 'Meat, game'], dtype=object)

In [127]:
meat_miss.Value.unique()

array([0.])

In [128]:
# Investigating if the missing data is at random or not at random by checking if it's specific country's or not
meat_miss.Area.unique()

array(['Denmark', 'Germany', 'Ireland', 'Luxembourg', 'Netherlands'],
      dtype=object)

In [129]:
meat_miss.Year.unique()

array([2018, 2019, 2020, 2000, 2001, 1986, 2005], dtype=int64)

This shows that the missing data is NOT at random, certain countries did not submit data for certain animal categories on certain years. I will deal with this during data preparation.

In addition, it shows that the missing categories and years are similar to the Slaughter data. There may have been no requirement to report for these categories on these years.

## Livestock stocking data

In [130]:
stock.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,255,Belgium,5111,Stocks,866,Cattle,2000,2000,Head,3041560.0,NaN,Official data
1,QCL,Crops and livestock products,255,Belgium,5111,Stocks,866,Cattle,2001,2001,Head,3037760.0,NaN,Official data
2,QCL,Crops and livestock products,255,Belgium,5111,Stocks,866,Cattle,2002,2002,Head,2891260.0,NaN,Official data
3,QCL,Crops and livestock products,255,Belgium,5111,Stocks,866,Cattle,2003,2003,Head,2778077.0,NaN,Official data
4,QCL,Crops and livestock products,255,Belgium,5111,Stocks,866,Cattle,2004,2004,Head,2738648.0,NaN,Official data

In [131]:
stock.shape

(3735, 14)

In [132]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3735 entries, 0 to 3734
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       3735 non-null   object
 1   Domain            3735 non-null   object
 2   Area Code (FAO)   3735 non-null   int64
 3   Area              3735 non-null   object
 4   Element Code      3735 non-null   int64
 5   Element           3735 non-null   object
 6   Item Code (FAO)   3735 non-null   int64
 7   Item              3735 non-null   object
 8   Year Code         3735 non-null   int64
 9   Year              3735 non-null   int64
 10  Unit              3735 non-null   object
 11  Value             3670 non-null   float64
 12  Flag              1103 non-null   object
 13  Flag Description  3735 non-null   object
dtypes: float64(1), int64(5), object(8)
memory usage: 408.6+ KB

In [133]:
stock.describe()

,Area Code (FAO),Element Code,Item Code (FAO),Year Code,Year,Value
count,3735.000000,3735.000000,3735.000000,3735.00000,3735.00000,3.670000e+03
mean,154.917269,5111.448728,1033.941098,1997.31593,1997.31593,1.389960e+07
std,98.436050,0.497431,73.118241,13.67837,13.67837,5.001213e+07
min,54.000000,5111.000000,866.000000,1973.00000,1973.00000,2.000000e+00
25%,79.000000,5111.000000,1016.000000,1985.00000,1985.00000,8.278250e+03
50%,106.000000,5111.000000,1057.000000,1998.00000,1998.00000,1.960655e+05
75%,231.000000,5112.000000,1079.000000,2009.00000,2009.00000,6.134275e+06
max,351.000000,5112.000000,1140.000000,2020.00000,2020.00000,4.867429e+08

The data is in its current layout is not suitable for statistical analysis as each country is a row.
I need to melt the data so that the values for each country are in a column item type.

In [134]:
stock.Item.unique()

array(['Cattle', 'Chickens', 'Ducks', 'Geese and guinea fowls', 'Goats',
       'Horses', 'Pigs', 'Rabbits and hares', 'Sheep', 'Turkeys'],
      dtype=object)

There are 10 animal categories in the stocking data.

In [135]:
stock.Area.unique()

array(['Belgium', 'China', 'Denmark', 'France', 'Germany', 'Ireland',
       'Italy', 'Luxembourg', 'Netherlands', 'United States of America'],
      dtype=object)

As above:

The dataset contains 8 EU countries Belgium, Denmark, France, Germany, Luxembourg, Ireland, Italy and the Netherlands. All of these countries have been member states since at least Jan 1st 1973.

Belgium, France, Germany, Luxembourg, Italy and the Netherlands founded the EU in 1957 with Ireland and Denmark Joining on the 1st January 1973.

Therefore, to ensure data comparability between these countries and the US and China, I limited the datasets time frame from 1st January 1973 to 31st December 2020 (most recent data available). This ensures that all European countries were member states of the EU at the time of analysis. 

We can confirm this as follows

In [136]:
stock.Year.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 1973,
       1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984,
       1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999], dtype=int64)

In [137]:
print(f"The earliest year in the dataset is {stock.Year.min()} and the maximum year is {stock.Year.max()}")

The earliest year in the dataset is 1973 and the maximum year is 2020

Next we can observe what units the livestock stocking data has been recorded in

In [138]:
stock.Unit.unique()

array(['Head', '1000 Head'], dtype=object)

Socking data units have been reported in "heads" and "1000 heads".

In [139]:
stock.Element.unique()

array(['Stocks'], dtype=object)

All livestock in this dataset is at production.

Checking for null values

In [140]:
stock.isnull().sum()

Domain Code            0
Domain                 0
Area Code (FAO)        0
Area                   0
Element Code           0
Element                0
Item Code (FAO)        0
Item                   0
Year Code              0
Year                   0
Unit                   0
Value                 65
Flag                2632
Flag Description       0
dtype: int64

In [141]:
calc_percent_missing(stock.isnull().sum(), len(stock))

The percentage of missing values is:
Domain Code          0.00
Domain               0.00
Area Code (FAO)      0.00
Area                 0.00
Element Code         0.00
Element              0.00
Item Code (FAO)      0.00
Item                 0.00
Year Code            0.00
Year                 0.00
Unit                 0.00
Value                1.74
Flag                70.47
Flag Description     0.00
dtype: float64

There are missing values in the "Value" and "Flag" columns.  The flag column is not important to our data analysis
so I can remove this during data preparation. However, the value column requires further investigation. We can test if these values are missing at random or not at random by filtering the values that are NaN or 0

In [142]:
stock.columns

Index(['Domain Code', 'Domain', 'Area Code (FAO)', 'Area', 'Element Code',
       'Element', 'Item Code (FAO)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description'],
      dtype='object')

In [143]:
# Creating a data frame of missing stocking densities
stock_miss = stock.loc[(stock['Value'] == stock.Value.isnull())]

The NaNs do not show up on filter, only those with a value of "Zero"

In [144]:
stock_miss.head(50)

Empty DataFrame
Columns: [Domain Code, Domain, Area Code (FAO), Area, Element Code, Element, Item Code (FAO), Item, Year Code, Year, Unit, Value, Flag, Flag Description]
Index: []

In [145]:
# Investigating if the missing data is at random or not at random by checking if it's specific animal categories or not
stock_miss.Item.unique()

array([], dtype=object)

In [146]:
stock_miss.Value.unique()

array([], dtype=float64)

In [147]:
# Investigating if the missing data is at random or not at random by checking if it's specific country's or not
stock_miss.Area.unique()

array([], dtype=object)

In [148]:
stock_miss.Year.unique()

array([], dtype=int64)

## Import export data

In [149]:
imp_exp.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,TCL,Crops and livestock products,255,Belgium,5608,Import Quantity,866,Cattle,2000,2000,Head,59395.0,NaN,Official data
1,TCL,Crops and livestock products,255,Belgium,5608,Import Quantity,866,Cattle,2001,2001,Head,44232.0,NaN,Official data
2,TCL,Crops and livestock products,255,Belgium,5608,Import Quantity,866,Cattle,2002,2002,Head,61054.0,NaN,Official data
3,TCL,Crops and livestock products,255,Belgium,5608,Import Quantity,866,Cattle,2003,2003,Head,85727.0,NaN,Official data
4,TCL,Crops and livestock products,255,Belgium,5608,Import Quantity,866,Cattle,2004,2004,Head,100891.0,NaN,Official data

In [150]:
imp_exp.shape

(14411, 14)

In [151]:
imp_exp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14411 entries, 0 to 14410
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       14411 non-null  object
 1   Domain            14411 non-null  object
 2   Area Code (FAO)   14411 non-null  int64
 3   Area              14411 non-null  object
 4   Element Code      14411 non-null  int64
 5   Element           14411 non-null  object
 6   Item Code (FAO)   14411 non-null  int64
 7   Item              14411 non-null  object
 8   Year Code         14411 non-null  int64
 9   Year              14411 non-null  int64
 10  Unit              14411 non-null  object
 11  Value             14263 non-null  float64
 12  Flag              2446 non-null   object
 13  Flag Description  14411 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 1.5+ MB

In [152]:
imp_exp.describe()

,Area Code (FAO),Element Code,Item Code (FAO),Year Code,Year,Value
count,14411.000000,14411.000000,14411.000000,14411.000000,14411.000000,1.426300e+04
mean,154.272778,5764.227257,1023.589480,1998.889182,1998.889182,1.764494e+05
std,95.451054,150.154608,70.081096,14.211274,14.211274,7.850559e+05
min,54.000000,5608.000000,866.000000,1973.000000,1973.000000,0.000000e+00
25%,79.000000,5610.000000,976.000000,1987.000000,1987.000000,2.640000e+02
50%,106.000000,5622.000000,1034.000000,2000.000000,2000.000000,5.808000e+03
75%,231.000000,5910.000000,1079.000000,2012.000000,2012.000000,6.571350e+04
max,351.000000,5922.000000,1096.000000,2020.000000,2020.000000,1.589366e+07

The data is in its current layout is not suitable for statistical analysis as each country is a row.
I need to melt the data so that the values for each country are in a column item type.

In [153]:
imp_exp.Item.unique()

array(['Cattle', 'Chickens', 'Ducks', 'Goats', 'Horses', 'Pigs', 'Sheep',
       'Turkeys'], dtype=object)

There are 8 animal categories in the import export data. I can remove the repetition from these item categories when I clean the data

In [154]:
imp_exp.Area.unique()

array(['Belgium', 'China', 'Denmark', 'France', 'Germany', 'Ireland',
       'Italy', 'Luxembourg', 'Netherlands', 'United States of America'],
      dtype=object)

As above:

The dataset contains 8 EU countries Belgium, Denmark, France, Germany, Luxembourg, Ireland, Italy and the Netherlands. All of these countries have been member states since at least Jan 1st 1973.

Belgium, France, Germany, Luxembourg, Italy and the Netherlands founded the EU in 1957 with Ireland and Denmark Joining on the 1st January 1973.

Therefore, to ensure data comparability between these countries and the US and China, I limited the datasets time frame from 1st January 1973 to 31st December 2020 (most recent data available). This ensures that all European countries were member states of the EU at the time of analysis. 

We can confirm this as follows

In [155]:
imp_exp.Year.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 1973,
       1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984,
       1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999], dtype=int64)

In [156]:
print(f"The earliest year in the dataset is {imp_exp.Year.min()} and the maximum year is {imp_exp.Year.max()}")

The earliest year in the dataset is 1973 and the maximum year is 2020

Next we can observe what units the import export data has been recorded in

In [157]:
imp_exp.Unit.unique()

array(['Head', 'tonnes', '1000 US$', '1000 Head'], dtype=object)

Import export data has been recorded in in "tonnes", "heads", "1000 US $" and "1000 heads".

In [158]:
imp_exp.Element.unique()

array(['Import Quantity', 'Import Value', 'Export Quantity',
       'Export Value'], dtype=object)

All livestock in this dataset is at production.

Checking for null values

In [159]:
imp_exp.isnull().sum()

Domain Code             0
Domain                  0
Area Code (FAO)         0
Area                    0
Element Code            0
Element                 0
Item Code (FAO)         0
Item                    0
Year Code               0
Year                    0
Unit                    0
Value                 148
Flag                11965
Flag Description        0
dtype: int64

In [160]:
calc_percent_missing(imp_exp.isnull().sum(), len(imp_exp))

The percentage of missing values is:
Domain Code          0.00
Domain               0.00
Area Code (FAO)      0.00
Area                 0.00
Element Code         0.00
Element              0.00
Item Code (FAO)      0.00
Item                 0.00
Year Code            0.00
Year                 0.00
Unit                 0.00
Value                1.03
Flag                83.03
Flag Description     0.00
dtype: float64

There are missing values in the "Value" and "Flag" columns.  The flag column is not important to our data analysis
so I can remove this during data preparation. However, the value column requires further investigation. We can test if these values are missing at random or not at random by filtering the values that are NaN or 0

In [161]:
# Creating a data frame of missing import export data 
imp_exp_miss = imp_exp.loc[(imp_exp['Value'] == imp_exp.Value.isnull())]

In [162]:
meat_miss.head(50)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
883,QCL,Crops and livestock products,54,Denmark,5510,Production,1017,"Meat, goat",2018,2018,tonnes,0.0,NaN,Official data
884,QCL,Crops and livestock products,54,Denmark,5510,Production,1017,"Meat, goat",2019,2019,tonnes,0.0,NaN,Official data
885,QCL,Crops and livestock products,54,Denmark,5510,Production,1017,"Meat, goat",2020,2020,tonnes,0.0,NaN,Official data
1151,QCL,Crops and livestock products,54,Denmark,5510,Production,1080,"Meat, turkey",2018,2018,tonnes,0.0,NaN,Official data
1152,QCL,Crops and livestock products,54,Denmark,5510,Production,1080,"Meat, turkey",2019,2019,tonnes,0.0,NaN,Official data
1153,QCL,Crops and livestock products,54,Denmark,5510,Production,1080,"Meat, turkey",2020,2020,tonnes,0.0,NaN,Official data
1862,QCL,Crops and livestock products,79,Germany,5510,Production,1017,"Meat, goat",2018,2018,tonnes,0.0,NaN,Official data
1863,QCL,Crops and livestock products,79,Germany,5510,Production,1017,"Meat, goat",2019,2019,tonnes,0.0,NaN,Official data
1864,QCL,Crops and livestock products,79,Germany,5510,Production,1017,"Meat, goat",2020,2020,tonnes,0.0,NaN,Official data
2293,QCL,Crops and livestock products,104,Ireland,5510,Production,1017,"Meat, goat",2018,2018,tonnes,0.0,NaN,Official data
2294,QCL,Crops and livestock products,104,Ireland,5510,Production,1017,"Meat, goat",2019,2019,tonnes,0.0,NaN,Official data
2295,QCL,Crops and livestock products,104,Ireland,5510,Production,1017,"Meat, goat",2020,2020,tonnes,0.0,NaN,Official data
2987,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1058,"Meat, chicken",2018,2018,tonnes,0.0,NaN,Official data
2988,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1058,"Meat, chicken",2019,2019,tonnes,0.0,NaN,Official data
2989,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1058,"Meat, chicken",2020,2020,tonnes,0.0,NaN,Official data
2990,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1069,"Meat, duck",2018,2018,tonnes,0.0,NaN,Official data
2991,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1069,"Meat, duck",2019,2019,tonnes,0.0,NaN,Official data
2992,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1069,"Meat, duck",2020,2020,tonnes,0.0,NaN,Official data
3012,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1017,"Meat, goat",2000,2000,tonnes,0.0,NaN,Official data
3013,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1017,"Meat, goat",2001,2001,tonnes,0.0,NaN,Official data
3030,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1017,"Meat, goat",2018,2018,tonnes,0.0,NaN,Official data
3031,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1017,"Meat, goat",2019,2019,tonnes,0.0,NaN,Official data
3032,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1017,"Meat, goat",2020,2020,tonnes,0.0,NaN,Official data
3034,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1097,"Meat, horse",2001,2001,tonnes,0.0,NaN,Official data
3114,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1080,"Meat, turkey",2018,2018,tonnes,0.0,NaN,Official data
3115,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1080,"Meat, turkey",2019,2019,tonnes,0.0,NaN,Official data
3116,QCL,Crops and livestock products,256,Luxembourg,5510,Production,1080,"Meat, turkey",2020,2020,tonnes,0.0,NaN,Official data
3261,QCL,Crops and livestock products,150,Netherlands,5510,Production,1163,"Meat, game",1986,1986,tonnes,0.0,F,FAO estimate
3279,QCL,Crops and livestock products,150,Netherlands,5510,Production,1163,"Meat, game",2005,2005,tonnes,0.0,F,FAO estimate
3523,QCL,Crops and livestock products,150,Netherlands,5510,Production,1080,"Meat, turkey",2018,2018,tonnes,0.0,NaN,Official data
3524,QCL,Crops and livestock products,150,Netherlands,5510,Production,1080,"Meat, turkey",2019,2019,tonnes,0.0,NaN,Official data
3525,QCL,Crops and livestock products,150,Netherlands,5510,Production,1080,"Meat, turkey",2020,2020,tonnes,0.0,NaN,Official data

In [163]:
# Investigating if the missing data is at random or not at random by checking if it's specific animal categories or not
imp_exp_miss.Item.unique()

array(['Ducks', 'Goats', 'Turkeys', 'Horses', 'Sheep', 'Cattle', 'Pigs',
       'Chickens'], dtype=object)

In [164]:
imp_exp_miss.Value.unique()

array([0.])

In [165]:
# Investigating if the missing data is at random or not at random by checking if it's specific country's or not
imp_exp_miss.Area.unique()

array(['Belgium', 'China', 'Denmark', 'France', 'Germany', 'Ireland',
       'Italy', 'Luxembourg', 'Netherlands', 'United States of America'],
      dtype=object)

In [166]:
imp_exp_miss.Year.unique()

array([2019, 2020, 2014, 2016, 2015, 2009, 2010, 2011, 2012, 2013, 1973,
       1974, 1975, 1976, 2018, 1977, 1978, 1981, 2005, 2006, 2008, 2017,
       1979, 1980, 1982, 1984, 1983, 1985, 2002, 1986, 1993, 1994, 1995,
       1997, 1998, 1987, 1988, 1989, 1990, 1996, 1999, 2000, 2001, 2003,
       2004, 2007, 1991, 1992], dtype=int64)

## Summary of EDA

Missing values account for a small number of the data in the Value columns of all datasets. Missing values have been recorded in two manners, some as "Zero" and others as a blank (NaN). The missing data is also not at random, it appears specific countries did not submit specific categories on specific years. The only other column with missing data is the flag data which is not useful to the analysis. 

Additionally, a few null values have been recorded as "Zero" in the dataset where data was not available. These shall also need to be removed as they are outside the domain of the counts.

The data will also need to be melted into each country having its values in a column in order to be able to accurately perform statistical analysis.

# NAN's do not show up on is.null filter, it is filtering the Zero values

# Data preparation

## Removing the Null values

In [167]:
# removing NANs and filtering out "Zero"

slaughter_clean = slaughter[slaughter['Value'].notnull()]
slaughter_clean = slaughter_clean.loc[slaughter_clean['Value'] != 0]

meat_clean = meat[meat['Value'].notnull()]
meat_clean = meat_clean.loc[meat_clean['Value'] != 0]

stock_clean = stock[stock['Value'].notnull()]
stock_clean = stock_clean.loc[stock_clean['Value'] != 0]

imp_exp_clean = imp_exp[imp_exp['Value'].notnull()]
imp_exp_clean = imp_exp_clean.loc[imp_exp_clean['Value'] != 0]

## Dropping useless columns

In [168]:
imp_exp_clean.columns

Index(['Domain Code', 'Domain', 'Area Code (FAO)', 'Area', 'Element Code',
       'Element', 'Item Code (FAO)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description'],
      dtype='object')

In [169]:
slaughter_clean = slaughter_clean.drop(["Domain Code","Domain","Area Code (FAO)", "Element Code",
                      "Item Code (FAO)", "Year Code", "Flag", "Flag Description"],axis=1)

meat_clean = meat_clean.drop(["Domain Code","Domain","Area Code (FAO)", "Element Code",
                      "Item Code (FAO)", "Year Code", "Flag", "Flag Description"],axis=1)
stock_clean = stock_clean.drop(["Domain Code","Domain","Area Code (FAO)", "Element Code",
                      "Item Code (FAO)", "Year Code", "Flag", "Flag Description"],axis=1)

imp_exp_clean = imp_exp_clean.drop(["Domain Code","Domain","Area Code (FAO)", "Element Code",
                      "Item Code (FAO)", "Year Code", "Flag", "Flag Description"],axis=1)

## Renaming column categories to more intuitive names

In [170]:
slaughter_clean.Item.unique()

array(['Meat, cattle', 'Meat, chicken', 'Meat, duck', 'Meat, goat',
       'Meat, horse', 'Meat, pig', 'Meat, sheep', 'Meat, turkey',
       'Meat, goose and guinea fowl', 'Meat, rabbit'], dtype=object)

In [179]:
def merge_similar_types(dataframe):
    '''This function takes in a traffic dataframe as input, it then maps vehicle categories in the
    'CountType' column to a single merged category and returns the changed dataframe'''
    dataframe['Element'] = dataframe['Element'].replace({
        'Producing Animals/Slaughtered': 'Slaughtered'
    })
    dataframe['Item'] = dataframe['Item'].replace({
        'Meat, cattle': 'Cattle', 'Meat, chicken': 'Chicken', 'Meat, duck': 'Duck',
        'Meat, goat': 'Goat', 'Meat, horse': 'Horse', 'Meat, pig': 'Pig',
        'Meat, sheep': 'Sheep', 'Meat, turkey': 'Turkey', 
        'Meat, goose and guinea fowl': 'Goose and Guinea fowl',
        'Meat, rabbit': 'Rabbit'
    })
    dataframe['Unit'] = dataframe['Unit'].replace({
        'tonnes': 'Tonnes'
    })
    return dataframe

In [181]:
slaughter_clean = merge_similar_types(slaughter_clean)

meat_clean = merge_similar_types(meat_clean)

stock_clean = merge_similar_types(stock_clean)

imp_exp_clean = merge_similar_types(imp_exp_clean)

## Adding geocodes

In [184]:
# Here the country codes file is imported and the head shown

country_codes = pd.read_csv("C:/Users/shaun/OneDrive/MSc Data Analytics/CA2 Semester 1/Data/country_codes.tsv", sep='\t')
country_codes.head()

          Country Alpha-2 code Alpha-3 code  Numeric
0     Afghanistan           AF          AFG        4
1         Albania           AL          ALB        8
2         Algeria           DZ          DZA       12
3  American Samoa           AS          ASM       16
4         Andorra           AD          AND       20

## Outlier detection

### Boxplots

# Adding features

## Adding the European average for each EU country

You can't do data quarterly, to add the EU average you'd need to download the aggregate EU totals and divide by the number of member states for the years in question with a function

In [ ]:
df = pd.melt(slaughter, id_vars=['geo'], var_name="Year", 
             value_name="Number")

In [ ]:
df.info()

In [ ]:
df.head()

# Data visualisation

# Statistical analysis

## Testing normality of the distributions

## Testing normality of the variance

## Hypothesis testing

# Sentiment Analysis

# Save CSV code

In [ ]:
#df.to_csv("C:\\Users\\shaun\\Desktop\\look.csv")

In [182]:
#Clean datasets
slaughter_clean.to_csv("C:\\Users\\shaun\\Desktop\\slaughter.csv", index=False)

meat_clean.to_csv("C:\\Users\\shaun\\Desktop\\meat.csv", index=False)

stock_clean.to_csv("C:\\Users\\shaun\\Desktop\\stock.csv", index=False)

imp_exp_clean.to_csv("C:\\Users\\shaun\\Desktop\\imp_exp.csv", index=False)